@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --fnt-base: 'Manrope', sans-serif;
  --clr-gintaras: #E67300;
  --clr-darkOrange: #653126;
  --clr-oda: #F5D9B4;
  --clr-gintaras-2: #653126;
  --clr-smelis: #D2B5A7;
  --clr-gintaras-3: #AF2421;
  --clr-black: #000000;
  --clr-white: #fff;

  --spacing: 0.1rem;
  --gradient: linear-gradient(90deg, rgba(16, 201, 195, 1) 0%, rgba(85, 179, 213, 1) 100%);
  --transition: all 300ms linear;
}

/* global styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--fnt-base);
  color: var(--clr-black);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--spacing);
}

img {
  width: 100%;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.1rem;
}

input,
textarea,
select {
  outline: 0;
  border: none;
  resize: none;
}

/* buttons */
.btn {
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-black);
  letter-spacing: 1px;
  opacity: 0.95;
  margin-left: 1em;
  padding: .3em;
  border-radius: 5px;
}

.btn-black {
  background-color: var(--clr-black);
}

/* animation and transition stopper */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
}



@media screen and (min-width: 768px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 982px) {

  }
